.zn-text-color {
    color: #8648F4 !important;
}
.zn-text-light {
    color: #777777 !important;
}
.zn-text-black {
    color : #000000 !important;
}
.zn-text-white {
    color : #ffffff !important;
}


.zn-text-color-favorite {
    color: #FF3B80;
}

.zn-text-color-grey {
    color: #adadad;
}

.zn-bg-white {
    background: #ffffff;
}

.zn-bg-light {
    background: #F5F5F5;
}
.zn-bg-color {
    background: #8648F4;
}

.zn-bg-form-dark {
    background: #2A1D40;
}

.zn-bg-color-dark {
    background: #673AB7;
}

.zn-text-regular{
    font-weight: 400;
}
.zn-text-medium{
    font-weight: 500;
}

.zn-logo {
    margin-bottom: 25px;
    display: block;
}

.zn-button {
    background: #8648F4;
    border-radius: 25px;
    width: 100%;
    z-index: -1;
}

.zn-edit-tool {
    float: right;
    margin-top: -5px;
}

.zn-border-bottom {
    border-bottom: 2px solid #F5F5F5;
}

.zn-border-bottom-1 {
    border-bottom: 1px solid #F5F5F5;
}
.zn-border-bottom-2 {
    border-bottom: 1px solid #ececec;
}

.zn-border-bottom-4 {
    border-bottom: 4px solid #ececec;
}

.zn-border-top-1 {
    border-top: 1px solid #F5F5F5;
}


.zn-border-top-3 {
    border-top: 3px solid #F5F5F5;
}
.zn-border-bottom-1-light {
    border-bottom: 1px solid #cccccc !important;
}

.zn-pb-0 {
    padding-bottom: 0 !important;
}

.zn-mlr-10 {
    margin: 0px 10px;
}

.zn-icon-copy-right {
    float: right;
    width: 25px;
    margin-top: -4px;

}

.zn-mlr-20 {
    margin: 0px 20px;
}

.zn-mlr-15 {
    margin: 0px 15px;
}

.zn-mb-head {
    margin-bottom: 130px;
}

.zn-bold {
    font-weight: 600;
}

.zn-text-left {
    text-align: left;
}

.zn-text-right {
    text-align: right;
}

.zn-m-0 {
    margin: 0 !important;
}

.zn-mb-0 {
    margin-bottom: 0;
}

.zn-pilih-gram{
    border: 2px solid #673ab7;
    padding: 5px 0px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    width: 58px;
}
.zn-foot-login{
    display: inline-block;
}

.zn-p-content {
    padding: 20px 20px !important;
}
.zn-pt-5 {
    padding-top: 5px !important;
}

.zn-pt-10 {
    padding-top: 10px !important;
}

.zn-pt-0 {
    padding-top: 0px !important;
}

.zn-separat {
    background: #CCCCCC;
    width: 2px;
    height: 15px;
    display: inline-block;
    margin: 0px 5% 0px 25%;
}

.zn-separat-status {
    background: #CCCCCC;
    width: 1px;
    height: 24px;
    display: inline-block;
    margin: 0 20% 5px;
}

.con-statut-count {
    text-align: center;
    padding: 15px 0px 6px;
    box-shadow: 0 2px 2px 0 rgba(123, 123, 123, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.12), 0 1px 5px 0 rgba(220, 220, 220, 0.2);
}

.active .zn-navbot-icon,
.active .zn-navbot-text {
    color: #8648F4;
}
.zn-navbot-icon {
    color: #777777;
    display: block;
    margin-bottom: -12px;
    margin-top: 7px;
    text-align: center;
    width: 100%;
    /* margin-right: -25px; */
}

.zn-navbot-text {
    margin: 0;
    display: block;
    padding: 0;
    color: #777777;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
}

.zn-label-white {
    background: #F5F5F5;
    display: inline-block;
    width: 91px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.zn-list-gram {
    padding: 10px 0px;
    margin: 0;
}

.zn-mt-button {
    margin-top: 40px;
}

.zn-p-0 {
    padding: 0 !important;
}

.zn-pb-0 {
    padding-bottom: 0 !important;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: table;
    width: 100%;
    padding-bottom: 100px;
}

content.v-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

h3 {
    font-size:24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}


h6.small {
    font-size: 12px;
}

h4 {
    font-size: 16px;
}

.zn-pl-25 {
    padding-left: 25px !important;
}

.zn-plr-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}


.zn-plr-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.zn-plr-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.zn-pb-5 {
    padding-bottom: 5px !important;
}
.zn-pb-15 {
    padding-bottom: 15px !important;
}
.zn-pb-10 {
    padding-bottom: 10px !important;
}
.zn-pb-20 {
    padding-bottom: 20px !important;
}

.zn-pb-40 {
    padding-bottom: 40px !important;
}

.zn-pilih-gram.zn-normal{
    border: 2px solid #999999 !important;
}
.zn-pilih-gram.zn-normal .zn-text-light{
    color: #999999 !important;
}

.zn-mtb-10 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.zn-icon-side-kopi {
    margin-right: 30px;
    display: inline-block;
    float: left;
    margin-top: 9px;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: inherit;
    outline: none;
}

.zn-icon-set{
    color: #ffffff70;
    float: right;
    margin-top: -51px;
}

.zn-label-sidenav {
    font-size: 10px;
    color: #fff;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-top: -20px;
}

nav .brand-logo {
    font-size: 20px;
}

.zn-text-11{
    font-size: 11px !important;
}

.zn-label-booked {
    background: #FFF9E0;
    color: #FFC900;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 11px;
    width: 55px;
    text-align: center;
    font-weight: 400;
}

.zn-label-closed {
    background: #FFF0F0;
    color: #FF3838;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 11px;
    width: 55px;
    text-align: center;
    font-weight: 400;
}

.zn-label-active {
    background: #F4EDFE;
    color: #8648F4;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 11px;
    width: 60px;
    text-align: center;
    font-weight: 400;
}

.zn-status-btn {
    float: right;
}


/* POINT */
.zn-point-active {
    background: #673BB7;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}
.zn-point-yellow {
    background: #FFD537;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}
.zn-form-label {
    padding: 15px 15px;
    display: block;
}
.zn-point{
    background: #F0F0F0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.zn-sort{
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    color: #8648F4;
    background: white;
    border-radius: 15px;
    margin-left: 10px;
}
.zn-sort-active {
    background: #673BB7;
    border-radius: 15px;
    color: #fff;
}
.zn-sort-label {
    font-size: 14px;
    display: inline-block;
    margin-right: 20px;
    color: #adadad;
}

.zn-fit-bayar {
    position: fixed;
    top: 115px;
    right: 0px;
    left: 0;
    /* width: 100%; */
}
.zn-bayar {
    margin: 0px 8px;
    background: #8648F4;
    display: block;
    border-radius: 4px;
    width: 95%;
    z-index: 10;
}

.zn-mt-10 {
    margin-top: 10px !important;
}

.zn-mt-15 {
    margin-top: 15px !important;
}
.zn-mt-25 {
    margin-top: 25px !important;
}

.zn-mt-5 {
    margin-top: 5px !important;
}

.zn-con-sort {
    padding: 20px 20px;
    text-align: right;
}
.zn-view-pass {
    position: absolute;
    right: 15px;
    top: 10px;
}

nav.nav-extended .nav-wrapper {
    min-height: 60px;
    height: auto;
}

.zn-fit-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.zn-navbot {
    box-shadow: 0 -3px 2px 0 rgba(123, 123, 123, 0.14), 0 3px 1px -2px rgba(255, 255, 256, 0.12), 0 1px 5px 0 rgba(220, 220, 220, 0.2);
}

.zn-navbot .tabs {
    height: 55px !important;
    background: #fff;
}

.tabs .indicator {
    background-color:#fff;
} 

.zn-profile-foto {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 50%;
}
.zn-ref-code {
    display: inline-block;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 20px;
}
.zn-con-form {
    background: #fff;
    border-radius: 4px;
    margin: 8px 8px 0px 8px;
}

.zn-text-center{
    text-align: center !important;
}
.zn-con-prof {
    background: #fff;
    padding: 20px;
}
.zn-btn-bayar {
    border: 1px solid white;
    float: right;
    background: #fff0;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 24px;
    position: absolute;
    top: 19px;
    right: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.zn-float-right {
    float: right;
}
.zn-float-left {
    float: left;
}
.zn-pt-60 {
    position: relative;
    top: 53px;
}
.zn-checkbox-tx {
    margin: 0;
    float: right;
    padding-right: 20px;
}
.zn-tabs{
    width: 50%;
}
.zn-icon-gram{
    font-size: 16px;
}
.input-field.zn-input-dark input{
    color: white;
    border-bottom: 1px solid #ffffff99 !important;
    box-shadow: 0 1px 0 0 #ffffff99 !important;
}
.input-field.zn-input-dark label{
    color: #ffffff99 !important;
}

.zn-notif {
    background: #F8F4FE;
    display: block;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 12px;
    text-align: justify;
}

.zn-modal{
    top: 40% !important;
}
.zn-modal-fit {
    width: fit-content !important;
}

.spinner-green, .spinner-green-only {
    border-color: #673AB7;
}

.zn-tittle-notif {
    font-size: 20px;
    font-weight: 500;
}

.zn-text-notif {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.zn-text-loading {
    display: inline-block;
    vertical-align: middle;
    margin-top: -25px;
    margin-left: 12px;
    font-size: 14px;
}

.zn-notif-error {
    background: #FF5D5D;
    padding: 0px 15px 4px;
    position: fixed;
    bottom: 50px;
    margin: 20px;
    color: #ffffff;
    border-radius: 5px;
}



.zn-custom-img {margin-bottom: 4px;}


@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 25%;
    }
   
}
@media only screen and (min-width: 601px){
.container {
    width: 85%;
    padding: 0px 15%;
}
    .zn-container {
        padding: 0px 15%;
    }
}
@media only screen and (min-width: 1000px){
    .container {
        width: 85%;
        padding: 0px 25%;
    }
    .zn-container {
        padding: 0px 35%;
    }
}


